<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="images/style1.css"> -->
</head>

<body>
  <div id="header" style="position: fixed; z-index: 2; opacity: 0.9;">
    <div id="menu">
      <img id="logo" src="images/ubicom.png" alt="">
      <div id="list">
        <ul>
          <li>
            <a class="active" href="">HOME</a>
          </li>
          <li>
            <a href="">COMPANY</a>
          </li>
          <li>
            <a href="">PRODUCT</a>
          </li>
          <li>
            <a href="">TECHNOLOGY</a>
          </li>
          <li>
            <a href="">SOLUTION</a>
          </li>
          <li>
            <a href="">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="content" style="height:503px; z-index: 1; background-color: black; overflow: hidden;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="position: relative;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="" style="width: 100%; height: 100%;background-color: rgb(250, 250, 250);"></div>
          <img class="imageForBanner" style="height: 560px !important;background-position: center;
          background-repeat: no-repeat;background-size: cover;" src="images/company.png" class="d-block w-100 h-75" alt="images/company.webp">
          <div class="carousel-caption d-none d-md-block" 
          style="width: 100%;height: 100%;background-color: black;position: absolute;
          z-index: 1;opacity: 0.1;top: 0;left: 0;">
          </div>
          <main role="main" class="inner cover text-white text-center" style="width: 100%;position: absolute; top: 69%;">
            <h1 class="cover-heading" style="font-size:32px;"><strong>TECHNOLOGY</strong></h1>
            <p class="lead" style="font-size:18px;">What We Can Well</p>
          </main>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" style="height: 120px;">
    <h1 style="font-size: 24px; color: #14326e; text-align: center; margin-top: 59px;">
      <strong>High Reliability System</strong>
    </h1>
    <!-- <br> -->
    <p style="text-align: center; color: #414141;">Systems that operate for long periods of time or in harsh environments require high reliability.</p>
  </div>
  <div class="album py-5 bg-light py-5">
    <div class="container">
      <div class="row px-5" id="solution">

          <h5 class="mb-4" style="color: #14326e;">‘Resolver ADC converter’ for nuclear power plant system (Development and delivery, Korea Hydro & Nuclear Power, DO-254)</h5>
          <p class="mb-4"><strong>1) Development details: Resolver ADC converter for CIMS using FPGA</strong></p>
          <p class="mb-1"><strong>2) Responsibilities</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
          <p class="mb-1"><strong>3) Development Tool and Language</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
      </div>
    </div>
  </div>
  <div class="album py-5 py-5">
    <div class="container">
      <div class="row px-5" id="solution">

          <h5 class="mb-4" style="color: #14326e;">‘Resolver ADC converter’ for nuclear power plant system (Development and delivery, Korea Hydro & Nuclear Power, DO-254)</h5>
          <p class="mb-4"><strong>1) Development details: Resolver ADC converter for CIMS using FPGA</strong></p>
          <p class="mb-1"><strong>2) Responsibilities</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
          <p class="mb-1"><strong>3) Development Tool and Language</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-light py-5">
    <div class="container">
      <div class="row px-5" id="solution">

          <h5 class="mb-4" style="color: #14326e;">‘Resolver ADC converter’ for nuclear power plant system (Development and delivery, Korea Hydro & Nuclear Power, DO-254)</h5>
          <p class="mb-4"><strong>1) Development details: Resolver ADC converter for CIMS using FPGA</strong></p>
          <p class="mb-1"><strong>2) Responsibilities</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
          <p class="mb-1"><strong>3) Development Tool and Language</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
      </div>
    </div>
  </div>
  <div class="album py-5 py-5">
    <div class="container">
      <div class="row px-5" id="solution">

          <h5 class="mb-4" style="color: #14326e;">‘Resolver ADC converter’ for nuclear power plant system (Development and delivery, Korea Hydro & Nuclear Power, DO-254)</h5>
          <p class="mb-4"><strong>1) Development details: Resolver ADC converter for CIMS using FPGA</strong></p>
          <p class="mb-1"><strong>2) Responsibilities</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
          <p class="mb-1"><strong>3) Development Tool and Language</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-light py-5">
    <div class="container">
      <div class="row px-5" id="solution">

          <h5 class="mb-4" style="color: #14326e;">‘Resolver ADC converter’ for nuclear power plant system (Development and delivery, Korea Hydro & Nuclear Power, DO-254)</h5>
          <p class="mb-4"><strong>1) Development details: Resolver ADC converter for CIMS using FPGA</strong></p>
          <p class="mb-1"><strong>2) Responsibilities</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
          <p class="mb-1"><strong>3) Development Tool and Language</strong></p>
            <ol style="margin-left: 50px; color: #414141;">
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
              <li style="color: #414141; font-size: 16px;">Resolver control FPGA (VHDL) development (DO-254)</li>
            </ol>
      </div>
    </div>
  </div>
  <div class="album py-5 py-5 border-top">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 pb-3" id="solution">
          <div class="col-md-3">
            <img src="images/ubicomTechnology.png" alt="">
          </div>
          <div class="col-md-6" style="color: #7d7d7d;">
            <span>서울특별시 송파구 오금로 58, 잠실 I-SPACE 1107호</span><br>
            <span>전화 : 070-8804-0648  |  팩스 : 02-6969-9048  </span><br>
            <span>메일 : dkim2040@ubicomtech.com</span>
          </div>
          <div class="col-md-3 p-0 m-0">
            <img src="images/Tomorow.jpg" class="float-end" alt="">
          </div>
        </div>
    </div>
  </div>
  <div class="album py-5 bg-light py-5 border-top">
    <div class="container">
      <p style="color: #7d7d7d; text-align: center;"> © 2018 by Ubicom Technology Co.,Ltd.</p>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>